main {
    /*padding: 7rem;*/
}

.boxes {
    height: calc(100vh);
    position: relative;

    display: flex;
     /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    gap: 0rem 5rem;
}

.box {
    min-height: 10rem;
    min-width: 10rem;
    padding: 1.5rem;
    background-color: blue;
    color: #fff;
    border: 10px solid red;
    display: inline-block;
    border-radius: 0.4rem;
    font-size: 4rem;
}